@media (min-width:1200px){
  h1 {
    font-size: 10rem;
  }
  .title {
    margin-top: 8rem;
  }
  .body {
    font-size: 120%;
    margin-top: 10rem;
  }
  .col-lg-10 {
    max-width: 100rem;
    float: none;
  }
  .col-lg-offset-1 {
    margin: auto;
  }
  .code ul {
    display: inline-flex;
  }
}
