@media (min-width:1200px){
  h1 {
    font-size: 10rem;
  }
  .title {
    margin-top: 8rem;
  }
  .body {
    margin-top: 10rem;
  }
  .code {
    width: 90rem;
    margin-right: 4rem;
  }
  iframe {
    width: 90rem;
  }
}
