@media (min-width:200px){
  h1 {
    font-size: 4.8rem;
  }
  .title {
    margin-top: 3rem;
  }
  .navigation {
    position: relative;
  }
  .navbar {
    position: relative;
    width: 100%;
  }
  #photo {
    display: none;
  }
  .body {
    margin-top: 4rem;
  }
  .code ul {
    display: inline-block;
  }
  #key {
    min-width: 14rem;
  }
  #frame {
    width: 95%;
    margin: auto;
  }
  .pomodoro {
    height: 166rem;
  }
  .javascript-calculator {
    height: 70rem;
  }
}


// .navigation {
//   position: absolute;
//   left: 0;
//   top: 20%;
//   text-align: center;
// }
// .navbar {
//   position: fixed;
//   display: block;
//   z-index: 100;
//   float: left;
//   width: 20%
// }
