@media (min-width:200px){
  h1 {
    font-size: 4.8rem;
  }
  .title {
    margin-top: 3rem;
  }
  .body {
    margin-top: 4rem;
  }
  .code ul {
    display: inline-block;
  }
  #key {
    min-width: 14rem;
  }
}
