@media (min-width:980px){
  .code {
    width: 72%;
    max-width: none;
    float: right;
    margin-right: 2rem;
  }
  .navigation {
    position: absolute;
    left: 0;
    top: 15%;
    text-align: center;
  }
  .navbar {
    width: 20rem;
    margin-left: 1rem;
    position: fixed;
    display: block;
    z-index: 100;
    float: left;
  }
  .navbar li {
    width: 100%;
  }
  #photo {
    display: block;
  }
  iframe {
    width: 75%;
    float: right;
  }
  #frame {
    padding-right: 2rem;
  }
}
