@media
only screen and (-webkit-min-device-pixel-ratio: 3),
only screen and (   min--moz-device-pixel-ratio: 3),
only screen and (     -o-min-device-pixel-ratio: 3/1),
only screen and (        min-device-pixel-ratio: 3),
only screen and (                min-resolution: 3dppx) {
  .code {
    font-size: 200%;
    width: 100%;
    margin-left: 0;
  }
  .navigation {
    position: initial;
    text-align: center;
  }
  .navbar li {
    padding: 1rem;
    width: 20%;
    float: left;
  }
}
