@import url(https://fonts.googleapis.com/css?family=Berkshire+Swash);

#frame body {
  background: #49A078;
  font-family: 'Berkshire Swash', cursive
}
#frame h1 {
  font-size: 6rem;
  color: #1F2421;
}
#frame h1 .rotate {
  color: #DCE1DE;
  padding: 1rem;
}
#frame ul {
  list-style:none;
}
#frame li::after {
  font-family: FontAwesome;
  content: "\f001";
  font-size: 3rem;
  margin-left: 4rem;
}
#frame #\23 main {
  padding-bottom: 10rem;
}
#frame .quote-box {
  border: #216869 10px inset;
  color: #DCE1DE;
  background: #1F2421;
  min-height: 15rem;
  margin: 10rem auto 5rem auto;
  float:none;
  border-radius: 15px;
  line-height:8rem;
  font-size: 5rem;
  overflow: auto;
}
#frame #quote {
  padding: 3rem;
}
#frame .quote-content{
  float: right;
}
#frame .quote-content::before {
  font-family: FontAwesome;
  content: '\f10d';
  float:left;
}
#frame .quote-content::after {
  font-family: FontAwesome;
  content: '\f10e';
  float:right;
}
#frame .first {
  color: #9CC5A1;
  padding:1rem;
  margin: 10rem 1rem 12rem;
  float:left;
  display:inline-flex;
}
#frame .tweet {
  display: none;
  float: left;
  font-size: 8rem;
}
#frame .fa-twitter:hover {
  cursor: pointer;
  color: #55acee;
}
#frame .credit {
  float:right;
}
#frame #generate {
  color: #fff;
  background-color: #216869;
  border-color: #1F2421;
  font-size: 3rem;
  margin-top: 3rem;
}
#frame #generate:hover,
#frame #generate:active {
  background-color: #9CC5A1;
}
#frame #generate:focus {
  outline-color: #49A078;
}


@media (min-width:280px){
  #frame h1 {
    font-size: 3rem;
  }
  #frame #quote {
    font-size: 2.6rem;
    padding: 1rem;
    line-height:3.6rem;
  }
  #frame .first {
    font-size: 9rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
  #frame .tweet {
    font-size: 4rem;
    padding-top: 4rem;
  }
}
@media (min-width:540px){
  #frame h1 {
    font-size: 5rem;
  }
  #frame #generate {
    width: 24rem;
    height: 6rem;
    font-size: 3rem;
    margin-top: 3rem;
  }
  #frame #quote {
    line-height: 4rem;
  }
  #frame .first {
    font-size: 12rem;
  }
}
@media (min-width: 720px){
  #frame h1 {
    margin-bottom: 6rem;
  }
  #frame .quote-box {
    max-width: 70%;
  }
  #frame #generate {
    width: 32rem;
    height: 8rem;
    font-size: 4rem;
    margin-top: 3rem;
  }
  #frame #quote {
    font-size: 3.2rem;
    line-height: 6rem;
  }
  #frame .first {
    font-size: 16rem;
    padding: 2rem;
    margin-bottom: 8rem;
  }
  #frame .tweet {
    font-size: 5rem;
    padding-bottom: 1rem;
  }
}
@media (min-width:1024px){
  #frame h1 {
    font-size: 8rem;
    color: #1F2421;
    margin: 8rem auto;
  }
  #frame h1 .rotate {
    padding: 2.6rem;
  }
  #frame #quote {
    font-size: 4rem;
    line-height: 7rem;
  }
  #frame .first {
    font-size: 24rem;
    padding:5rem;
    margin: 2rem 1rem 12rem;
  }
}
@media (min-width: 1600px){
  #frame h1 {
    font-size: 12rem;
    margin: 12rem auto;
  }
  #frame .tweet {
    font-size: 6rem;
  }
}
@media(min-width:2200px){
  #frame h1 {
    font-size: 16rem;
    margin: 16rem auto;
  }
  #frame #quote {
    font-size: 6rem;
    line-height: 10rem;
  }
  #frame .first {
    font-size: 32rem;
    padding: 8rem;
  }
  #frame .tweet {
    font-size: 8rem;
  }
}
