$color__site-background: #4db8ff;

$color__site-headers: white;
$color__links: yellow;
$color__links-hover: #1B5C87;


$color__code-background: #1B5C87;
$color__code-text: #CCCB29;
$color__code-border: 1px solid #ccc;
$color__code-links: #FF6766;
$color__code-links-hover: #4DB8FF;
