$color__site-background: #4db8ff;

$color__site-headers: white;
$color__links: #FF6766;
$color__links-hover: #4DB8FF;


$color__code-background: #1B5C87;
$color__code-text: #CCCB29;
$color__links: #FF6766;
