h1, h2, h3, h4, h5, h6 {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace; }

h1 {
  font-size: 10rem;
  font-weight: 700; }

.code {
  font-size: 90%;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace; }

.navigation {
  font-weight: bold;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace; }

.navigation a:hover {
  text-decoration: none;
  cursor: pointer; }

#exit {
  font-family: FontAwesome;
  content: '\f057';
  color: white;
  font-size: 2rem; }

iframe {
  font-size: 60%; }

body {
  background: #4db8ff; }

h1, h2, h3, h4, h5, h6 {
  color: white; }

a {
  color: yellow; }

a:hover, a:focus {
  color: #1B5C87; }

.code a {
  color: #FF6766; }

.code a:hover {
  color: #4DB8FF; }

.code {
  color: #CCCB29;
  background: #1B5C87;
  border: 1px solid #ccc; }

ul {
  list-style: none;
  padding: 0; }

li {
  padding-right: 10px; }

iframe {
  width: 100%;
  margin-bottom: 4rem; }

.photo {
  height: 30rem;
  background: url("img/profile.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain; }

#frame {
  margin-top: 4rem; }

.pomodoro {
  height: 135rem; }

.javascript-calculator {
  height: 65rem; }

.wiki-app {
  height: 80rem; }

.weather-app {
  height: 68rem; }

.quote-generator {
  height: 83rem; }

.code {
  line-height: 24px;
  display: block;
  padding: 9.5px;
  word-break: break-all;
  word-wrap: break-word;
  border-radius: 4px;
  margin-bottom: 4rem; }

.code .row {
  margin: auto; }

#key, #pair {
  float: left; }

#key {
  min-width: 14rem;
  padding-left: 2rem; }

.navigation {
  position: absolute;
  left: 0;
  top: 20%;
  text-align: center; }

.navbar {
  position: fixed;
  display: block;
  z-index: 100;
  float: left;
  width: 20%; }

.navbar li {
  padding: 1rem; }

#exit {
  float: right;
  padding-bottom: 1rem; }

#exit:hover {
  color: #1B5C87; }

@media (min-width: 200px) {
  h1 {
    font-size: 4.8rem; }

  .title {
    margin-top: 3rem; }

  .navigation {
    position: relative; }

  .navbar {
    position: relative;
    width: 100%; }

  #photo {
    display: none; }

  .body {
    margin-top: 4rem; }

  .code ul {
    display: inline-block; }

  #key {
    min-width: 14rem; }

  #frame {
    width: 95%;
    margin: auto; }

  .pomodoro {
    height: 166rem; }

  .javascript-calculator {
    height: 70rem; } }
@media (min-width: 480px) {
  .pomodoro {
    height: 146rem; }

  .javascript-calculator {
    height: 65rem; } }
@media (min-width: 720px) {
  h1 {
    font-size: 8rem; }

  .title {
    margin-top: 6rem; }

  .body {
    font-size: 100%;
    margin-top: 6rem; }

  .code {
    max-width: 72rem;
    float: none;
    margin: auto;
    margin-bottom: 4rem; }

  .code ul {
    display: inline-flex; }

  .navbar {
    display: inline-flex; }

  .navbar li {
    width: 20%; } }
@media (min-width: 980px) {
  .code {
    width: 72%;
    max-width: none;
    float: right;
    margin-right: 2rem; }

  .navigation {
    position: absolute;
    left: 0;
    top: 15%;
    text-align: center; }

  .navbar {
    width: 20rem;
    margin-left: 1rem;
    position: fixed;
    display: block;
    z-index: 100;
    float: left; }

  .navbar li {
    width: 100%; }

  #photo {
    display: block; }

  iframe {
    width: 75%;
    float: right; }

  #frame {
    padding-right: 2rem; } }
@media (min-width: 1200px) {
  h1 {
    font-size: 10rem; }

  .title {
    margin-top: 8rem; }

  .body {
    margin-top: 10rem; }

  .code {
    width: 90rem;
    margin-right: 4rem; }

  iframe {
    width: 90rem; } }
@media (min-width: 1400px) {
  #frame,
  .code {
    width: 75rem;
    float: none;
    margin: auto; }

  iframe {
    width: 100%;
    float: none; } }
@media (min-width: 1600px) {
  h1 {
    font-size: 12rem; }

  .title {
    margin-top: 10rem; }

  .body {
    margin-top: 16rem; } }

/*# sourceMappingURL=style.css.map */
