@import 'variables/color-scheme';

body {
  background: $color__site-background;
}
h1, h2, h3, h4, h5, h6 {
  color: $color__site-headers;
}
a {
  color: $color__links;
}
  a:hover, a:focus {
    color: $color__links-hover;
  }
.code a {
  color: $color__code-links;
}
  .code a:hover {
    color: $color__code-links-hover;
  }
.code {
  color: $color__code-text;
  background: $color__code-background;
  border: $color__code-border;
}
