@import 'header';

ul {
  list-style: none;
  padding: 0;
}
li {
  padding-right: 10px;
}
iframe {
  width: 100%;
  margin-bottom: 4rem;
}

.photo {
  height: 30rem;
  background: $img__profile;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
#frame {
  margin-top: 4rem;
}
.pomodoro {
  height: 135rem;
}
.javascript-calculator {
  height: 65rem;

}
.wiki-app {
  height: 80rem;
}
.weather-app {
  height: 68rem;
}
.quote-generator {
  height: 83rem;
}
.code {
  line-height: 24px;
  display: block;
  padding: 9.5px;
  word-break: break-all;
  word-wrap: break-word;
  border-radius: 4px;
  margin-bottom: 4rem;
}
  .code .row {
    margin: auto;
  }
#key, #pair {
  float: left;
}
#key {
  min-width: 14rem;
  padding-left: 2rem;
}
.navigation {
  position: absolute;
  left: 0;
  top: 20%;
  text-align: center;
}
.navbar {
  position: fixed;
  display: block;
  z-index: 100;
  float: left;
  width: 20%
}
  .navbar li {
    padding: 1rem;
  }
#exit {
  float:right;
  padding-bottom: 1rem;
}
#exit:hover {
  color: $color__links-hover;
}
